BODY {
    margin: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#area-left {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

#area-main {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

#main-content {
    display: block;
}

#main-messages {
    background-color: beige;
    color: red;
}

TABLE {
    margin: 10px;
    margin: auto;
    border-collapse: collapse;
}

TABLE TH {
    white-space: nowrap;
}

TABLE TD {
    padding-left: 3px;
    width: 88%;
}

.resourceAvailable {
    background-color: #0f04;
}

.resourceNotAvailable {
    background-color: #f004;
}

.resourceListButtons, .userListButtons {
    display: inline-block;
}

.resourceLineInList {
    border-top: white 2px solid;
}

.userLineInList {
    border-top: lightgray 1px dotted;
}

.resourceLineInList TD:first-child {
    border-top-left-radius: 8px;
}

.resourceLineInList TD:last-child {
    border-top-right-radius: 8px;
}

.resourceDescriptionDisplay {
    white-space: pre;
}

.resourceDescriptionEditing {
    background-color: white;
    text-align: left;
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
}

.resourceDescriptionActions {
}

.resourceDescriptionInput {
    display: block;
    width: 98%;
    height: 5em;
    border: 0;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 5px;
    background-color: beige;
}

#screenselector li {
    list-style-type: none;
}

.screenselector_active_item {
    background-color: beige;
}

.table-form {
    display: inline-block;
    text-align: left;
}

.form-field-pair {
    display: table-row;
    line-height: 2em;
}

.form-field-label, .form-field-value {
    display: table-cell;
    margin-left: 4em;
}