BODY {
    margin: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

TABLE {
    width: 50%;
    margin: 10px;
    margin: auto;
}

.resourceAvailable {
    background-color: #0f04;
}

.resourceNotAvailable {
    background-color: #f004;
}

.resourceListButtons {
    display: inline-block;
}

.button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 5px;
    background-color: beige;
}