BODY {
    margin: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#area-left {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

#area-main {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

TABLE {
    margin: 10px;
    margin: auto;
}

.resourceAvailable {
    background-color: #0f04;
}

.resourceNotAvailable {
    background-color: #f004;
}

.resourceListButtons, .userListButtons {
    display: inline-block;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 5px;
    background-color: beige;
}

#screenselector li {
    list-style-type: none;
}

.screenselector_active_item {
    background-color: beige;
}